<ModConfiguration>
  <Id>DreadedEntity.PersonalInductionCharger</Id>
  <Name>aPersonal Induction Charger</Name>
  <Description>Adds a block that you stand on to recharge your suit battery</Description>
  <ChangeNote></ChangeNote>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>true</IsServerOnlyMod>
</ModConfiguration>